---
import type { CollectionEntry } from "astro:content";
import Window from "./Window.astro";
import { formatDate } from "../lib/utils";

interface Props {
  entry: CollectionEntry<"notes" | "lab" | "obsidian">;
  date?: Date | null;
}

const { entry, date } = Astro.props;

const { Content } = await entry.render();
---

<article
  class={`h-full font-system ${entry.collection !== "notes" ? "sm:border" : ""}`}
>
  <div
    data-type={entry.collection}
    id="note-content"
    class="prose prose-stone prose-invert md:prose-lg font-system text-white mx-auto py-9"
  >
    <header class="not-prose">
      <h1 class="text-4xl font-semibold tracking-tight">
        {entry.data.title}
      </h1>
      {
        entry.data.description && (
          <div class="text-lg font-light">{entry.data.description}</div>
        )
      }
      {
        date && (
          <time class="text-sm font-light" dateTime={date.toISOString()}>
            {formatDate(date)}
          </time>
        )
      }
    </header>
    <Content />
  </div>
</article>
